pdfminer.six
langchain
sentence-transformers
huggingface-hub
-U langchain-community
accelerate
-i https://pypi.org/simple/ bitsandbytes
--upgrade transformers
streamlit
openai
faiss-cpu
sentence-transformers
