streamlit
pdfminer.six
langchain
langchain-community
sentence-transformers
huggingface-hub
transformers
torch
textwrap3

langchain.vectorstores
langchain.embeddings
langchain.prompts
langchain.llms
langchain_core.runnables
langchain.chains
